/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

i{
  font-size: 2rem;
}

h1, h2, h3{
  text-align: center;
}
h1{
  font-size: 4rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.4rem;
}
body.dark-theme{
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

body{
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

main{
  padding-top: 4rem;
}

.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader--img{
  width: 100px;
  fill: var(--first-color);
  animation: load 1.5s infinite;
}

.hide{
  display: none;
}

.header{
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 77%;
  z-index: 30;
  color: rgb(0, 0, 0);
}

.scroll-header{
  background-color: var(--container-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10)
}

.nav{
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding-left:  15rem;
  gap: 6rem;
}

.nav--logo{
  display: flex;
  width: 7.5rem;
  fill: var(--first-color);
 
}

.nav__enlace{
  font-weight: bold;

}
.nav__span{
  align-self: center;
}

.nav__enlace--activo{
  color: var(--first-color);
}

.nav--menu{
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 6rem 2rem 3rem 2rem;
  right: -100%;
  transition: right .3s linear;
}
.nav--menu__show{
  right: 0;
}

.nav--list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav--item{
  list-style: none;
}

.nav--close, 
.bx-x{
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav--btns{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding-left: 60%;
}

.nav--cart{
  position: relative;
}

.counter{
  background: var(--title-color);
  position: absolute;
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -5px;
  right: -10px;
  width: 1rem;
  height: 1rem;
  color: var(--body-color);
  font-size: 10px;
}

.cart--container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 140, 140, 0.658);
}

.cart{
  width: 100%;
  height: 100%;
  max-width: 270px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--container-color);
  box-shadow: -4px 5px 10px rgb(147, 147, 147);
}

.product-card{
width: 20rem;
}
.introduccion{
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 30rem;
  margin-top: 15rem;
  padding-left: 16rem;
  gap: 4rem;
}
.introduccion h2{
  text-align: justify;
}

.introduccion p{
  font-size: 1rem;
  padding: 2rem 0;
}

.introduccion span{
  margin-top: 2rem;
  font-size: 2rem;
  color: rgb(202, 62, 62);
}

.introduccion__article{
    font-weight: bold;
    color:var(--title-color);
}

.btn__introduccion{

}
.btn__introduccion-discover{
  width: 8rem;
  height: 3rem;
  background-color: rgba(161, 158, 158, 0.658);
  border-style:none;
  font-weight:bold;
}
.btn__introduccion-add{
  width: 12rem;
  height: 4rem;
  background-color: rgb(0, 0, 0);
  border-style:none;
  color: rgb(247, 242, 242) ;
  font-weight: bold;

}

.contenedor-aside{
  display: flex;
  height: max-content;
  justify-content: flex-end;
  width: max-content;
  position: absolute;
  margin-left: 82rem;
  margin-top: -49rem;
  background-color: rgb(188, 72, 72);
}

.contenedor-aside img{
  padding-top: 22rem;
  max-width: 35rem;
}



.contenedor__main{
  width: max-content;
}
.contenedor__main-productos{
   display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 6rem;
    padding: 4rem 34rem;

}

.contenedor__elementos{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80rem;
  text-align: center;
  height: 12rem;
  margin-top: 17rem;
  margin-left: 30rem;
}

.contenedor__elementos-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color:rgb(0, 0, 0)
    
  
}

.contenedor__elementos-style a{
  font-size: 1.2rem;
}

.contenedor__elementos-style strong{

}

.footer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: 22rem;
  align-items: flex-start;
  background-color: rgb(197, 194, 194);
  padding-top: 8rem;
}

.footer__elementos a{
  display: flex;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__socialMedia svg{

}



@keyframes load{
  0% {
    transform: translateY( 0 );
  }
  50%{
    transform: translateY( 10px );
  }
  100%{
    transform: translateY( 0 );
  }
}